body {
  padding-top: 50px;
}
.navbar-fixed-top {
  border: 0;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}
form.example button {
  width: 15%;
  height: 100%;
  padding: 5px;
  padding-bottom: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  position: absolute; 
  top: 50%; 
  left: 110%; 
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
#logo {
  position: absolute;
  top: 35%;
  left: 48%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#logo > h1{
  font-size: 70px;
  font-family: -apple-system ;
  text-align: center;
}

#logo > p{

  text-align: center;

}





