html,body {
  height: 100%
  
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#logo > h1{
  font-size: 70px;
  font-family: -apple-system ;
  text-align: center;
}

#logo > p{

  text-align: center;

}

